<div class="container">
    <div class="row ">
        <div class="col-6 conteudo-produto informacoes" >
            <div class="title">
                <h3>Vestido Ralph Lauren</h3>    
                <h1>R$ 59,90</h1>
            </div>
            <div class="descricao">
                <p>Vestido Ralph Lauren Baby Girls Rosa</p>    
            </div>
            <div class="row formas-pagamento">
                <div class="col-5">
                    <p>Formas de Pagamento: Boleto ou Cartão de Crédito</p>
                </div>
                <div class="col-3">
                <div class="input-group input-group-sm mb-3">
                        
                        <select class="custom-select">
                            <option selected>Qnt</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                      </select>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg">Adicionar ao Carrinho</button>
            <button type="button" class="btn btn-secondary btn-lg">Comprar</button>
        </div>
        <div class="col-6 conteudo-produto roupa">
            <img src="../assets/images/roupas/produto1.jpg"/>
        </div>
    </div>
</div>
    