body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #FFD966!important;
}
footer{
  background-color: #FFD966!important;

}

.bg-light{
  background-color: #FFD966!important;
}

.row form {
  margin-top:30px;
}
.pesq{
  /*margin-right: 25%;*/
}
.pesquisa form {
  margin-left: 30%;
  width: 40%;
  float:right;
}

.pesquisa form input {
  width: 100%;
}


.menu li{
  margin-left: 5%;
}
.destaques{
  backgroud-color:#DAE0EB;
}

.login{
  width: 20%;
  display: inline;
  font-size:15px;
  margin-right: 2%;
  margin-top: 1%;
  height: 120px;
}

.login input {
  width: 65%;
  float: right;
  margin-top: 2%;
  margin-left: 2%;
  height: 20px;
}

.login button{
  float:right;
}

.login .conta a {
  font-size: 12px;
  padding: 0;
  margin-left: 10%;
}

.menu ul{
  margin-left: 25%;
}
