

<div class="col-lg-12">

          <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="../assets/images/slide1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Chegou o novo Nintendo Switch</h5>
                  <p>Design moderno e com jogos incríveis</p>
                </div>
              </div>
              <div class="carousel-item">

                <img class="d-block img-fluid" src="../assets/images/slide2.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5 style="color:#0F1929;">Novos brinquedos!</h5>
                  <p style="color:#0F1929;">Confira nossa nova coleção de brinquedos!</p>
                </div>

              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="../assets/images/slide3.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>O inverno está chegando!</h5>
                  <p>Confira nossa moda inverno para seu pequenino</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

          </div>

          <div class="destaques-principais">
            <div class="row ">
            <div class="col-md-12">
              <h5>As meninas estão com vez!</h5>
              <p>Roupas para meninas com 50% de desconto</p>
            </div>
          </div>
          <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../assets/images/destaques/destaque1.jpg/" alt="Imagem de uma menina vestindo uma camiseta azul-marinho com estampa da Hello Kitty e uma saia estampada"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Conjunto Hello Kitty</a>
                  </h4>
                  <p style="text-decoration:line-through; font-size:0.9em;">De: R$59,90</p>
                  <p class="card-text">Por: R$29,90</p>
                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../assets/images/destaques/destaque2.jpg/" alt="Imagem de duas meninas vestindo vestidos estampados em preto e branco"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Vestido Estampado </a>
                  </h4>

                  <p style="text-decoration:line-through; font-size:0.9em;">De: R$69,90</p>
                  <p class="card-text">Por: R$44,90</p>
                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../assets/images/destaques/destaques3.jpg/" alt="Imagem de uma menina vestindo um vestido de seda em tons de azul com estampa de borboletas"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Vestido Seda </a>
                  </h4>

                  <p style="text-decoration:line-through; font-size:0.9em;">De: R$69,90</p>
                  <p class="card-text">Por: R$44,90</p>
                </div>

              </div>
            </div>

          </div>
        </div>

         <div class="destaques-secundario">
            <div class="row ">
            <div class="col-md-12">
              <h5>Veja mais!</h5>
              <p>Descontos imperdíveis em todas as categorias!</p>
            </div>
          </div>
          <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../assets/images/destaques/secundario1.jpg/" alt="Imagem de um pato de brinquedo"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Pato Musical Baby</a>
                  </h4>

                  <p class="card-text">Por: R$ 89,99</p>
                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../assets/images/destaques/secundario2.jpg/" alt="Imagem de um bebê em uma cadeira de balanço para bebês azul da marca Fisher-Price"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Cadeira de balanço </a>
                  </h4>

                  <p class="card-text">Por: R$ 99,99</p>
                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../assets/images/destaques/secundario3.jpg/" alt="Imagem do jogo The Legend Of Zelda - Breath Of The Wild para Nintendo Switch"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">The Legend of Zelda</a>
                  </h4>

                  <p class="card-text">Por: 199,99</p>
                </div>

              </div>
            </div>

          </div>
          </div>

</div>


<!--<div class="destaques">-->
<!--    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">-->
<!--      <div class="carousel-inner">-->
<!--        <div class="carousel-item active">-->
<!--          <img class="d-block w-100" src="../assets/images/slide1.jpg" alt="First slide">-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--          <img class="d-block w-100" src="..." alt="Second slide">-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--          <img class="d-block w-100" src="..." alt="Third slide">-->
<!--        </div>-->
<!--      </div>-->
<!--      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
<!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--        <span class="sr-only">Previous</span>-->
<!--      </a>-->
<!--      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
<!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--        <span class="sr-only">Next</span>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->




