<div class="container">
    <div class="row cabecalho-roupas">
        <div class="col-6">
            <h3>Roupas</h3>
        </div>
        <div class="col-3">
            <select class="custom-select">
                <option selected>Mais Vendidos</option>
                <option>Últimos Lançamentos</option>
            </select>
        </div>
        <div class="col-3">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row ">
        <div class="col-3 filtros">
            <ul>
                <p>Categorias</p>
                <li>
                    <input type="checkbox" name="" id="categoria1" checked/>
                    <label for="categoria1">Recém-Nascido</label>
                </li>
                <li>
                    <input type="checkbox" name="" id="categoria2" checked/>
                    <label for="categoria2">Infantis</label>
                </li>
                <li>
                    <input type="checkbox" name="" id="categoria3" />
                    <label for="categoria3">Teens</label>
                </li>
            </ul>
            <ul>
                <p>Tamanhos</p>
                <li>
                    <input type="checkbox" name="" id="tamanho1" />
                    <label for="tamanho1">0 a 12 meses</label>
                </li>
                <li>
                    <input type="checkbox" name="" id="tamanho2" />
                    <label for="tamanho2">1 a 7 anos</label>
                </li>
                <li>
                    <input type="checkbox" name="" id="tamanho3" />
                    <label for="tamanho3">7 a 13 anos</label>
                </li>
            </ul>
            <ul>
                <p>Gênero</p>
                <li>
                    <input type="checkbox" name="" id="genero1" />
                    <label for="genero1">Masculino</label>
                </li>
                <li>
                    <input type="checkbox" name="" id="genero2" checked/>
                    <label for="genero2">Feminino</label>
                </li>
                <li>
                    <input type="checkbox" name="" id="genero3" />
                    <label for="genero3">Unissex</label>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="row lista-roupas">
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="../../assets/images/roupas/roupa1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><a href="/produtos">Vestido Polo</a></p>
                            <p class="card-text">R$ 59,90</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="../../assets/images/roupas/roupas2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Vestido Estampado</p>
                            <p class="card-text">R$ 39,90</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="../../assets/images/roupas/roupas3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Vestido Coração</p>
                            <p class="card-text">R$ 39,90</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="../../assets/images/roupas/roupas4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Body Rosa</p>
                            <p class="card-text">R$ 29,90</p>
                        </div>
                    </div>
                    
                </div>
            

        </div>
        <div class="row lista-roupas">
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="../../assets/images/roupas/roupas5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Vestido Moana</p>
                            <p class="card-text">R$ 49,90</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="../../assets/images/roupas/roupas6.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Kit Camisas</p>
                            <p class="card-text">R$ 99,90</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="../../assets/images/roupas/roupas7.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Conjunto Baby</p>
                            <p class="card-text">R$ 39,90</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="../../assets/images/roupas/roupas8.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Conjunto Basic</p>
                            <p class="card-text">R$ 49,90</p>
                        </div>
                    </div>
                    
                </div>
            

        </div>
    </div>
</div>
